@{
    ViewData["Title"] = "About";
}
<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <p>The major focus of the Ryten Laboratory is the use of transcriptomic data as a functional read-out of the genome and how that read-out can inform our understanding of biological processes to improve human health. We work in neurogenetics, one of the most challenging disease areas and use transcriptomic data, primarily derived from human brain or brain relevant cell types, to build the resources required to improve the molecular understanding of complex and rare neurological diseases with a particular focus on neurodegenerative diseases.</p>
    <p>We are highly collaborative and we are interested in making our work accessible and useful within the neuroscience research community, but also within clinical and diagnostic settings.  As part of UCL Queen Square Institute of Neurology (London) and in collaboration with the University of Murcia (Spain), our on-going work covers the genetic regulation of gene expression in human brain, gene co-expression networks, re-annotation of genes associated with neurological diseases and the use of transcriptomics to improve diagnostic yield. We have released many of the outputs of these projects through the development of different web tools.</p>
    <p>To find out more about our work and the people behind it just take a look at our <a href="https://snca.atica.um.es/RytenLab/Team" title="Visit our 'Team' page">Team</a> page.</p>
    <br />

    <img src="~/images/originals/group.jpg" style="max-width:100%" title="Ryten Lab Group" />
    <br />
    <small>Some of us in Cambridge - October 2018</small>

</article>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_about").addClass("active");

        });
    </script>
}