@{
    ViewData["Title"] = "About us";
}
<header class="header">

    <div class="text-center">
        <br />
        <h1>@ViewData["Title"]</h1><hr />
        <br />
    </div>
</header>

<article>
    
    <p>
        The <strong>major focus of the Ryten Laboratory</strong> is the use of transcriptomic data as a functional read-out of the genome to inform our understanding of biological processes to improve human health.
        We work in neurogenetics, one of the most challenging disease areas, and use transcriptomic data, primarily derived from human brain or brain-relevant cell types, to build the resources required to improve the molecular understanding of complex and rare neurological diseases with a particular focus on <strong>neurodegenerative diseases</strong>.
        <br /><br />
        As part of the <strong>UK DRI Cambridge</strong>, and in collaboration with important institutions, our on-going work covers the <strong>use of short-read, long-read and single-nucleus RNA-sequencing data to understand genetic regulation of gene expression</strong> mostly in the human brain,  
        re-annotation of genes associated with neurological diseases and the use of transcriptomics to improve diagnostic yield.
        <br /><br />
        Find out more about <a asp-area="" asp-controller="RytenLab" asp-action="Team">who we are</a> and <a asp-area="" asp-controller="RytenLab" asp-action="Research">what we do</a>.
    </p>
    <br />
    <div class="center-block">
        <img src="~/images/photo-collage.png.png" class="img-responsive"  title="Ryten Lab Group" />
        <small>
            <strong>We are a highly collaborative team!</strong> <br />
            If you are interested in <strong>collaborating or working with us</strong>, please <a asp-area="" asp-controller="RytenLab" asp-action="Contact">get in touch!</a>
        </small>
    </div>
</article>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_about").addClass("active");

    });
</script>
}