@{
    //View for 'Contact' page
    ViewData["Title"] = "Contact";
}
    <header class="header">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </header>
    <article>
        <div class="row">


            <div class="col-lg-3 ">
                <figure>
                    <a href="mailto:mina.ryten@ucl.ac.uk" title="Get in touch with Mina Ryten." rel="RytenLab PI">
                        <img src="~/images/modified/filter/mina.jpg" alt="Mina Ryten" class="media-object little-image">
                    </a>
                </figure>

            </div>
            <div class="col-lg-3" >
                <h2>Dr Mina Ryten</h2>
                <p>
                    <strong>Professor of Clinical Genetics</strong>
                    <address>
                        UCL Great Ormond Street Institute of Child Health<br />
                        30 Guilford Street<br />
                        London <br />
                        WC1N 1EH

                    </address>
                </p>
                <p>
                    <strong>Honorary Consultant in Clinical Genetics</strong>
                    <address>
                        Great Ormond Street Hospital for Children<br />
                        Foundation Trust <br />
                        Great Ormond Street<br />
                        London <br />
                        WC1N 3JH

                    </address>
                </p>

            </div>
            <br />
            <div class="col-lg-3">

                <i class="fab fa-researchgate" style="font-size:24px"></i>
                <strong> ResearchGate: </strong><a href="https://www.researchgate.net/profile/Mina_Ryten" target="_blank">Mina_Ryten</a><br />

                <i class="fa fa-at" style="font-size:24px"></i><strong> Get in touch:</strong>
                <a href="mailto:mina.ryten@ucl.ac.uk">mina.ryten@ucl.ac.uk</a><br />
            </div>

        </div>
    </article>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_contact").addClass("active");
        });
    </script>

}
