@{
    //View for 'Contact' page
    ViewData["Title"] = "Contact";
}
<header class="header">
    <br />
    <h1>@ViewData["Title"]</h1><hr />
    <br />
</header>

<article>
    <div class="row col-12">

        <h2 style ="color:deeppink">Join Us!</h2>
        <p>
            We are always keen to hear from motivated researchers at all career stages, PhD students, postdoctoral fellows, and visiting scientists alike.
            If our work resonates with you, please
            <strong><a href="mailto:mr2022@medschl.cam.ac.uk" title="Get in touch" rel="RytenLab">get in touch</a></strong>.
            We will be delighted to chat with you!
        </p>

        <br />

        <div class="col-lg-4">
            <figure>
                <a href="mailto:mr2022@medschl.cam.ac.uk" title="Get in touch with Mina Ryten." rel="RytenLab PI">
                    <img src="~/images/modified/filter/mina.jpg" alt="Mina Ryten" class="media-object little-image">
                </a>
            </figure>
        </div>

        <div class="col-lg-8">

            

            <h2>Contact</h2>
            <p>
                We are currently located at the
                <strong>UK DRI Cambridge Centre</strong>,
                Department of Clinical Neurosciences, University of Cambridge.
            </p>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <p><i class="fa fa-map-marker" style="font-size:18px; color:deeppink"></i>&nbsp; <strong>Address</strong></p>
                    <address>
                        <strong>
                            UK DRI Cambridge<br />
                            Island Research Building (IRB)<br />
                        </strong>
                        Cambridge Biomedical Campus<br />
                        Hills Road<br />
                        Cambridge<br />
                        CB2 0AH
                    </address>
                    <br />
                    <a href="https://maps.google.com/?q=Island+Research+Building+Cambridge+Biomedical+Campus+Hills+Road+Cambridge+CB2+0AH"
                       target="_blank" title="Open in Google Maps" class="btn btn-sm btn-outline-secondary">
                        <i class="fa fa-map" style="font-size:14px"></i>&nbsp; Open in Maps
                    </a>
                </div>

                <div class="col-md-6">
                    <p><i class="fa fa-envelope" style="font-size:18px; color:deeppink"></i>&nbsp; <strong>Email</strong></p>
                    <p>
                        <a href="mailto:mr2022@medschl.cam.ac.uk" title="Get in touch with Mina Ryten." rel="RytenLab PI">
                            mr2022@medschl.cam.ac.uk
                        </a>
                    </p>

                    <br />

                  
                </div>
            </div>

        </div>

    </div>
</article>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_contact").addClass("active");
        });
    </script>
}
