@{
    ViewData["Title"] = "Index";
}

<header class="header">
    <h1>Latest News</h1>
    <hr />
</header>

<article>
    <ul class="posts">

        <li>
            <span class="post-date">Apr 30, 2019</span>
            <a class="post-link" href="#">Regina's talk on cell specificity in PD at AD/PD </a>
            <p>Some important information about Regina's talk. This link could also redirect to another page with more detailed information (if necessary).</p>
            <br />

        </li>
        
        <li>
            <span class="post-date">Apr 30, 2019</span>
            <a class="post-link" href="#">David's talk on re-annotation of known genes and their enrichment in Mendelian and complex neurogenetic disorders</a>
            <p>Some important information about David's talk. This link could also redirect to another page with more detailed information (if necessary).</p>
            <br />

        </li>

        <li>
            <span class="post-date">Apr 30, 2019</span>
            <a class="post-link" href="#">Regina's Danish grant</a>
            <p> Some important information about Regina's Danish grant. This link could also redirect to another page with more detailed information (if necessary).            </p>

        </li>
    </ul>

</article>


