@{
    //View for 'Tools' page
    ViewData["Title"] = "Research";
}
<header class="header">
    <br />
    <h1>@ViewData["Title"]</h1><hr />
    <br />
</header>
<article>
    <div class="text-left">
        <h2>Research projects</h2>
        <p>At the RytenLab, we are a <strong>multidisciplinary group of scientists with a strong focus on using human transcriptomic data </strong>to improve our understanding of neurodegeneration.</p>
        <p>Currently, we have multiple ongoing projects that are summarised in the table below:</p>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Project</th>
                    <th scope="col">Technology</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Lead person</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Use of longitudinal RNA-sequencing data to understand progression and post-transcriptional mechanisms in neurodegenerative diseases.</td>
                    <td>Longitudinal RNA-sequencing data</td>
                    <td>Parkinson's disease and hereditary ataxia</td>
                    <td>Zhongbo Chen (<a href="mailto:zhongbo.chen@ucl.ac.uk">zhongbo.chen@ucl.ac.uk</a>)</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        Investigating the extent and impact of splicing noise in Alzheimer's disease using genome-wide short- and long-read RNA-sequencing.
                    </td>
                    <td>Short and long-read RNA-sequencing data</td>
                    <td>Alzheimer's disease</td>
                    <td>Sonia Garcia-Ruiz (<a href="mailto:sg2173@cam.ac.uk">sg2173@cam.ac.uk</a>)</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Using long-read sequencing techniques to define the expression of novel transcripts of genes involved in neurological disease.</td>
                    <td>Long-read RNA-sequencing data</td>
                    <td>Parkinson's disease</td>
                    <td>Emil Gustavsson (<a href="mailto:e.gustavsson@ucl.ac.uk">e.gustavsson@ucl.ac.uk</a>)</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Use of long-read RNA-sequencing methods and analysis to explore gene expression during neurodevelopment.</td>
                    <td>Long-read RNA-sequencing data</td>
                    <td>White matter disorders and neurodevelopment</td>
                    <td>Kylie Montgomery (<a href="mailto:kylie.montgomery@ucl.ac.uk">kylie.montgomery@ucl.ac.uk</a>)</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Understanding the changes to cellular architecture in the context of Parkinson's disease by using a combination of single cell and spatially resolved transcriptomic data.</td>
                    <td>Single-cell and spatial transcriptomics</td>
                    <td>Parkinson's disease</td>
                    <td>Melissa Grant-Peters (<a href="mailto:m.grant-peters@ucl.ac.uk">m.grant-peters@ucl.ac.uk</a>)</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Using long read technologies to identify the role of structural variants on gene expression and methylation within neurodegenerative diseases.</td>
                    <td>Long-read RNA-sequencing data</td>
                    <td>Parkinson's and Alzheimer's disease</td>
                    <td>Pilar Álvarez Jerez (<a href="mailto:pilar.jerez.22@ucl.ac.uk">pilar.jerez.22@ucl.ac.uk</a>)</td>
                </tr>
                
            </tbody>
        </table>
        <br />
        If you are interested in knowing more about any of the projects listed above, please <a asp-area="" asp-controller="RytenLab" asp-action="Contact">get in touch!</a>
    </div>
    <br /><br />

    <div>
 
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col"><h2>List of collaborators</h2></th>
                    <th scope="col"><h2>Funding bodies</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>At the RytenLab, we firmly believe in the power of collaboration to enable research discovery and improve diagnosis of human disease.</p>
                        <p>We have active collaborations stablished with multitude of research institutions across the globe:</p>
                    </td>
                    <td>
                        <p>Our work wouldn´t be possible without the valuable support of the following funding bodies:</p>
                    </td>
                </tr>
                <tr>
                    <td> <img class="img-responsive " src="~/images/collaborators.png" /></td>
                    <td><img class="img-responsive " src="~/images/funders.png" /></td>
                </tr>
              
            </tbody>
        </table>

    </div>
   
</article>