@{
    //View for 'Tools' page
    ViewData["Title"] = "Software Tools";
}

<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h4>We have many tools and all of them are available on the following links:</h4>
    <br />
    <div class="well">
        <h3>vizER</h3>
        <p>
            vizER is a platform that enables the visualisation of individual genes for evidence of reannotation (full publication: <a href="https://www.biorxiv.org/content/10.1101/499103v1" title="full publication" target="_blank">here</a>). Complete, annotation-agnostic transcriptome definitions for 41 GTEx tissues can be also downloaded via the vizER webpage. The primary aim of vizER is to facilitate more accurate interpretation of variants and therefore, improve genetic diagnosis.
            <br /><br />
            Published on <a href="https://github.com/SoniaRuiz/vizER" target="_blank">GitHub</a> - 2018 Nov
        </p>
        <a class="btn btn-primary" href="http://www.rytenlab.com/browser/app/vizER" role="button" target="_blank">View »</a>
    </div>
    <div class="well">
        <h3>vizER - Docker</h3>
        <p>
            This is the Dockerized version of vizER.
            <br /><br />
            For further details, please visit the following link: <a href="https://hub.docker.com/r/soniaruiz/vizer" target="_blank">dockerhub</a>.<br />
        </p>
        <a class="btn btn-primary button" href="https://hub.docker.com/r/soniaruiz/vizer" role="button" target="_blank">View »</a>
    </div>
    <div class="well">
        <h3>API</h3>
        <p>
            The RytenLab team also provides with a REST API, whereby it is possible to request different methods of the CoExp R framework.
            <br /><br />
            The code is available on <a href="https://github.com/SoniaRuiz/RytenLab_MVC" target="_blank">GitHub</a>.
        </p>
        <a class="btn btn-primary button" href="https://snca.atica.um.es/swagger/index.html" role="button" target="_blank">View »</a>
    </div>
    <div class="well">
        <h3>CoExp</h3>
        <p>
            CoExp is a framework for the generation, deployment, sharing and exploitation of co-expression networks as annotation models of genes and their role in transcription. It is a family of R packages that you can separately download from GitHub, but also a Web page in which all models available can be accessed and used for your own research.
            <br /><br />
            The code of the backend: <a href="https://github.com/juanbot/CoExpNets" target="_blank">GitHub</a>.<br />
            The code of the UI: <a href="https://github.com/SoniaRuiz/CoExp_Web" target="_blank">GitHub</a>.
        </p>
        <a class="btn btn-primary button" href="https://snca.atica.um.es/coexp/" role="button" target="_blank">View »</a>
    </div>
    <div class="well">
        <h3>CoExp - Docker</h3>
        <p>
            This is the Dockerized version of CoExp. It is formed by two different docker images: one to contain the backend and the other one to contain the UI of CoExp Webpage.
            <br /><br />
            For further details, please visit the following link: <a href="https://hub.docker.com/r/soniaruiz/coexp" target="_blank">dockerhub</a>.<br />
        </p>
        <a class="btn btn-primary button" href="https://hub.docker.com/r/soniaruiz/coexp" role="button" target="_blank">View »</a>
    </div>
</article>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_tools").addClass("active");

        });
    </script>
}
