@{
    //View for 'Tools' page
    ViewData["Title"] = "Software Tools";
}

<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h4>We have many tools and all of them are available on the following links:</h4>
    <br />
    <div class="well">
        <h3>ggtranscript</h3>
        <hr />
        <p>
            ggtranscript is a ggplot2 extension that makes it easy to visualize transcript structure and annotation.
            <br />Publication:
            <a href="https://doi.org/10.1093/bioinformatics/btac409" title="Read 'ggtranscript: an R package for the visualization and interpretation of transcript isoforms using ggplot2'" target="_blank">ggtranscript: an R package for the visualization and interpretation of transcript isoforms using ggplot2</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://github.com/dzhang32/ggtranscript" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>dasper</h3>
        <hr />
        <p>
            The aim of dasper is to detect aberrant splicing events from RNA-seq data. dasper will use as input both junction and coverage data from RNA-seq to calculate the deviation of each splicing event in a patient from a set of user-defined controls. dasper uses an unsupervised outlier detection algorithm to score each splicing event in the patient with an outlier score representing the degree to which that splicing event looks abnormal.
            <br />Publication:
            <a href="https://www.biorxiv.org/content/10.1101/2021.03.29.437534v1.full" title="Read 'Detection of pathogenic splicing events from RNA-sequencing data using dasper'" target="_blank">Detection of pathogenic splicing events from RNA-sequencing data using dasper</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://bioconductor.org/packages/release/bioc/html/dasper.html" role="button" target="_blank"><i class="fab fa-r-project" style="font-size:24px"></i> Bioconductor </a>
        <a class="btn btn-primary button" href="https://github.com/dzhang32/dasper" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>ODER</h3>
        <hr />
        <p>
            The aim of ODER is to identify previously unannotated expressed regions (ERs) using RNA-sequencing data. For this purpose, ODER defines and optimises the definition of ERs, then connected these ERs to genes using junction data. In this way, ODER improves gene annotation. Gene annotation is a staple input of many bioinformatic pipelines and a more complete gene annotation can enable more accurate interpretation of disease associated variants.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://bioconductor.org/packages/release/bioc/html/ODER.html" role="button" target="_blank"><i class="fab fa-r-project" style="font-size:24px"></i> Bioconductor </a>
        <a class="btn btn-primary button" href="https://github.com/eolagbaju/ODER" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>F3UTER</h3>
        <hr />
        <p>
            Finding 3' Un-translated Expressed Regions (F3UTER) is a machine learning-based framework which leverages both genomic and tissue-specific transcriptomic features to predict previously unannotated 3'UTRs in the human genome. F3UTER was applied to transcriptomic data covering 39 human tissues studied within GTEx, enabling the identification of tissue-specific unannotated 3'UTRs for 1,513 genes.
            <br />Publication:
            <a href="https://www.biorxiv.org/content/10.1101/2021.03.08.434412v1" title="Read 'Leveraging omic features with F3UTER enables identification of unannotated 3'UTRs for synaptic genes'" target="_blank">Leveraging omic features with F3UTER enables identification of unannotated 3'UTRs for synaptic genes</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://astx.shinyapps.io/F3UTER/" role="button" target="_blank"><i class="fa fa-link" style="font-size:24px"></i> Visit App</a>
        <a class="btn btn-primary button" href="https://github.com/sid-sethi/F3UTER" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>GMSCA</h3>
        <hr />
        <p>
            GMSCA (Gene Multifunctionality Secondary Co-expression Analysis) is a software tool that exploits the co-expression paradigm to increase the number of functions and cell types ascribed to a gene in bulk-tissue co-expression networks.
            GMSCA was applied to 27 co-expression networks derived from bulk-tissue gene expression profiling of a variety of brain tissues and cell types, increasing the overall number of predicted triplets (gene, function, cell type) by 46.73%.
            <br />Publication:
            <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btab175/6178279" title="Read 'Modeling multifunctionality of genes with secondary gene co-expression networks in human brain provides novel disease insights.'" target="_blank">Modeling multifunctionality of genes with secondary gene co-expression networks in human brain provides novel disease insights</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://github.com/drlaguna/GMSCA" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>MitoNuclearCOEXPlorer</h3>
        <hr />
        <p>
            MitoNuclearCOEXPlorer is a web tool designed to allow users to interrogate and visualise key mitochondrial-nuclear relationships in multi-dimensional brain data. MitoNuclearCOEXPlorer uses brain regions data from GTEx v6p project.
            <br />Publication:
            <a href="https://www.nature.com/articles/s42003-021-02792-w" title="Read 'Human brain mitochondrial-nuclear cross-talk is cell-type specific and is perturbed by neurodegeneration'" target="_blank">Human brain mitochondrial-nuclear cross-talk is cell-type specific and is perturbed by neurodegeneration</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://ainefairbrotherbrowne.shinyapps.io/MitoNuclearCOEXPlorer/" role="button" target="_blank"><i class="fa fa-link" style="font-size:24px"></i> Visit App</a>
        <a class="btn btn-primary button" href="https://github.com/ainefairbrother/MitoNuclearCOEXPlorer" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>vizER</h3>
        <hr />
        <p>
            vizER is a platform that enables the visualisation of individual genes for evidence of reannotation. We have two main publications associated to this app (Zhang et al. Science Advances 2020. doi:
            <a href="https://advances.sciencemag.org/content/6/24/eaay8299" title="Read 'Incomplete annotation has a disproportionate impact on our understanding of Mendelian and complex neurogenetic disorders'" target="_blank">10.1126/sciadv.aay8299</a>) and
            (Nat Commun 12, 2076 (2021). doi: <a href="https://www.nature.com/articles/s41467-021-22262-5" title="Read 'Human-lineage-specific genomic elements: relevance to neurodegenerative disease and APOE transcript usage'" target="_blank">https://doi.org/10.1038/s41467-021-22262-5</a>).
            The primary aim of vizER is to facilitate more accurate interpretation of variants and therefore, improve genetic diagnosis.
            vizER also allows to download complete, annotation-agnostic transcriptome definitions for 41 GTEx tissues.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://rytenlab.com/browser/app/vizER" role="button" target="_blank"><i class="fa fa-link" style="font-size:24px"></i> Visit App</a>
        <a class="btn btn-primary button" href="https://github.com/dzhang32/ER_paper_2020_supp_code" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> Back-end Code</a>
        <a class="btn btn-primary button" href="https://github.com/SoniaRuiz/vizER" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> Front-end Code</a>
        <a class="btn btn-primary button" href="https://hub.docker.com/r/soniaruiz/vizer" role="button" target="_blank"><i class="fab fa-docker" style="font-size:24px"></i> Docker</a>

    </div>
    <div class="well">
        <h3>CoExp</h3>
        <hr />
        <p>
            CoExp is a framework for the generation, deployment, sharing and exploitation of co-expression networks as annotation models of genes and their role in transcription (Botía, J.A. et al. BMC Syst Biol 2017. doi:
            <a href="https://bmcsystbiol.biomedcentral.com/articles/10.1186/s12918-017-0420-6" title="Read 'An additional k-means clustering step improves the biological features of WGCNA gene co-expression networks'"
               target="_blank">10.1186/s12918-017-0420-6</a>).
            This family of R packages can be separately downloaded from GitHub and also managed within the CoExp website, in which all CoExp R models are available to be accessed and used for your own research.
            <br />Publication:
            <a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.630187/full" title="Read 'CoExp: A Web Tool for the Exploitation of Co-expression Networks'" target="_blank">CoExp: A Web Tool for the Exploitation of Co-expression Networks</a>.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://rytenlab.com/coexp/" role="button" target="_blank"> <i class="fa fa-link" style="font-size:24px"></i> Visit App</a>
        <a class="btn btn-primary button" href="https://github.com/juanbot/CoExpNets" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> Back-end Code</a>
        <a class="btn btn-primary button" href="https://github.com/SoniaRuiz/CoExp_Web" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> Front-end Code</a>
        <a class="btn btn-primary button" href="https://hub.docker.com/r/soniaruiz/coexp" role="button" target="_blank"><i class="fab fa-docker" style="font-size:24px"></i> Docker</a>
    </div>
    <div class="well">
        <h3>AWS Integrity Check</h3>
        <hr />
        <p>
            Bash script to check the integrity of a set of local files uploaded to AWS S3.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://github.com/SoniaRuiz/aws_check_integrity" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
    </div>
    <div class="well">
        <h3>RytenLab API</h3>
        <hr />
        <p>
            The RytenLab team also provides with a REST API, whereby it is possible to request different methods from the CoExp R framework.
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://rytenlab.com/swagger/index.html" role="button" target="_blank"><i class="fa fa-link" style="font-size:24px"></i> Visit API</a>
        <a class="btn btn-primary button" href="https://github.com/SoniaRuiz/RytenLab_MVC" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>

    </div>

</article>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_tools").addClass("active");

        });
    </script>
}
