@{
    //View for 'Tools' page
    ViewData["Title"] = "Software Tools";
}

<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h4>We have many tools and all of them are available on the following links:</h4>
    <br />
    <div class="well">
        <h4>vizER</h4>
        <small>
            Visualisation of Expressed Regions.
        </small><br /><br />
        @*<p class="publication">Published on <a href="#">GitHub</a> - 2018 Nov</p>*@
        <a class="btn btn-primary" href="#" role="button">View »</a>
    </div>
    <br />
    <div class="well">
        <h4>CoExp</h4>
        <small>
            Web page to manage ROSMAP and GTEX co-expression networks.
        </small><br /><br />
        @*<p class="publication">Published on <a href="#">GitHub</a> - 2018 Nov</p>*@
        @*<%= Html.Button("Index", "CoExp") %>*@
        <a class="btn btn-primary" href="#" role="button">View »</a>
    </div>
</article>
