@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Dr Mina Ryten</h3>

<br/>

<address>
    MRC Clinician Scientist Fellow<br />
    Neurodegenerative Diseases<br />
    UCL Queen Square Institute of Neurology<br />
    Faculty of Brain Science<br />
</address>

<address>
    <strong>Get in touch:</strong> <a href="mailto:mina.ryten@ucl.ac.uk">mina.ryten@ucl.ac.uk</a><br />
</address>
