@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Dr Mina Ryten</h3>

<div class="media-left media-top">
    <img width="242" height="250" src="~/images/modified/filter/mina.jpg" alt="Mina Ryten" class="media-object">
</div>
<div class="media-body">
    <address style="padding-top:5px;">
        <strong>MRC Clinician Scientist Fellow</strong><br />
        Neurodegenerative Diseases<br />
        UCL Queen Square Institute of Neurology<br />
        Faculty of Brain Science<br />
    </address>
</div>
<br/>
<address>
    <strong>Get in touch:</strong> <a href="mailto:mina.ryten@ucl.ac.uk">mina.ryten@ucl.ac.uk</a><br />
</address>
