
@{
    //View for 'Tools' page
    ViewData["Title"] = "Software Tools";
}

<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h4>We have many tools and we host all them at <a href="#">RytenLab GitHub</a>.</h4>
    <br />
    <div class="well">
        <h4>Genome Browser</h4>
        <small>
            Brief description about this tool.
        </small><br /><br />
        <p class="publication">Published on <a href="#">GitHub</a> - 2018 Nov</p>
        <a class="btn btn-primary" href="#" role="button">View »</a>
    </div>
    <br />
    <div class="well">
        <h4>CoExp</h4>
        <small>
            We page to manage co-expression networks.
        </small><br /><br />
        <p class="publication">Published on <a href="#">GitHub</a> - 2018 Nov</p>
        <a class="btn btn-primary" href="#" role="button">View »</a>
    </div>
</article>
